body{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center
}
.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: blue;
    position: relative;
    margin-bottom: 20px;
    margin-top: 10%;
}
.square{
    width: 80px;
    height: 80px;
    background-color: white;
    position: absolute;
    left: 35px;
    top: 35px;

}
.triangle{
    height: 0px;
    width: 0px;
    position: absolute;
    left: 35px;
    top: 35px;
    border-bottom: 80px solid red;
    border-right: 80px solid transparent;
}
.btn{
    margin-bottom: 20px;
    padding: 8px 20px;

}